@layout.app({title:"mon blog"})
  @slot('meta')
    <meta name="description" content="une page de bienvenu ave edge js" />
  @end
  
  @slot('main')
    <h1>
      Mon blog
    </h1>
    <main>
      <ul>
        @each(post in posts)
          <li>
            <a href="{{ route('blog_show', { id: post.id }) }}">{{ post.title }}</a>
          </li>
        @endeach
      </ul>
    </main>
  @end
@end
